@import url("main.css") only screen and (min-width:200px) and (max-width:480px);

@media (max-width: 767px){
    p{
        font-size: large;
        font-family: "돋음";
        padding: 6px;
    }
    h2 a{
        font-size: 60px;
        color: black;
    }
    input{
        float: left;
        height: 25px;
        font-size: 17px;
        
    }
    button{
        float: left;
        height: 31px;
        font-size: 17px;
    }
    #nav{ /*메뉴바*/
        list-style: none;
        height: 40px;
        padding: 3px 0px;
        margin: 0;
        background: #2d2d2d;
    }
    #nav li{
        float: left;
        position: relative;
        margin: 0px 0px;
        padding: 8px 14px;
    }
    #nav li a{
        display: block;
        font-family: "Tmon몬소리";
        font-weight: bold;
        font-size: 22px;
        padding: 0;
        margin: 0;
        color: #ffffff;
        margin: 0;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
    #nav a.active{
        color: red;
    }
    #hide{
        display: none;
    }
    #title{ /*제목*/
        font-family: fantasy;
        text-align: center;
        padding: 3px;
        font-size: 45px;
        font-weight: bold;
        color: #6d6d6d;
    }
    #best{
        text-align: center;
        font-family: "돋음";
        padding: 5px;
    }
    #member{
        text-align: center;
        font-family: "돋음";
        padding: 5px;
    }
}

@media (min-width: 1200px) {
    h2{
        font-size: 26px;
    }
    h2 a{
        padding: 50px 106px;
        float: left;
        font-size: 150px;
        color: black;
    }
    p{
        font-size: 22px;
        font-family: "돋음";
        padding: 15px 0px;
    }
    input{
        float: left;
        height: 30px;
        font-size: 19px;

    }
    button{
        float: left;
        height: 35px;
        font-size: 18px;
    }
    #nav{ /*메뉴바*/
        list-style: none;
        height: 50px;
        padding: 5px 1px;
        margin: 0;
        background: #2d2d2d;
    }
    #nav li{
        float: left;
        position: relative;
        margin: 0px 30px;
        padding: 11px 10px;
    }
    #nav li a{
        display: block;
        font-family: "Tmon몬소리";
        font-weight: bold;
        font-size: 26px;
        padding: 0;
        margin: 0;
        color: #ffffff;
        margin: 0;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
    #nav li:hover > a{     
        color: #afafaf;
        margin: 0;
        padding: 0;
    }
    #nav a.active{
        color: red;
    }
    #secret{
        display: none;
    }
    #title{ /*제목*/
        font-family: fantasy;
        text-align: center;
        padding: 6px;
        font-size: 60px;
        font-weight: bold;
        color: #6d6d6d;
    }
    #best{
        float: left;
        font-family: "돋음";
        padding: 30px 100px;
    }
    #member{
        float: left;
        font-family: "돋음";
        padding: 0px 20px;
    }
    #text{
        padding: 30px 0px;
        text-align: center;
    }
}
body{
    background-color: #cccccc;
}
span{
    background-color: orange;
}
h2 a:hover{
    text-decoration: none;
}
h2 a:visited{
    color: black;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    text-decoration: none;
    color: blue;
}
#allianceLeader{ /*연합장*/
    background-color: #ffbd1b;
}
#representative{ /*대표*/
    background-color: #00bbaa;
}
#directorGeneral{ /*부대표*/
    background-color: #00bb00;
}
#executive{ /*간부*/
    background-color: #ff3333;
}
#vip{ /*VIP*/
    background-color: #900090;
}
#closePerson{ /*최측근*/
    background-color: #006600;
}
#allianceMember{ /*연합원*/
    background-color: #8a8a8a;
}
#center{ /*중앙정렬*/
    display: table;
    margin-left: auto;
    margin-right: auto;
}